@charset "UTF-8";
@font-face {
  font-family: kalam-b;
  src: url("../fonts/Kalam-Bold.ttf");
}
@font-face {
  font-family: kalam-l;
  src: url("../fonts/Kalam-Light.ttf");
}
@font-face {
  font-family: kalam-r;
  src: url("../fonts/Kalam-Regular.ttf");
}
@font-face {
  font-family: poppins-b;
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: poppins-m;
  src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: poppins-black;
  src: url("../fonts/Poppins-Black.ttf");
}
@font-face {
  font-family: poppins-sb;
  src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: poppins-r;
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: lato-bl;
  src: url("../fonts/Lato-Black.ttf");
}
@font-face {
  font-family: lato-b;
  src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: lato-r;
  src: url("../fonts/Lato-Regular.ttf");
}
body {
  font-family: poppins-r;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container-fluid {
  width: 100%;
  padding: 0;
}

.header .logo img {
  width: 70%;
  justify-content: flex-start;
}
.header .nav-center ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.header .nav-center ul li a {
  display: block;
  padding: 0 35px;
  line-height: 35px;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 70px;
  font-family: poppins-b;
}
.header .nav-center ul li a:hover {
  color: #76AA6F;
}
.header .nav-right ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.header .nav-right ul li a {
  display: block;
  padding: 0 10px;
  line-height: 70px;
  color: #000000;
}
.header .nav-right ul li a:hover {
  color: #76AA6F;
}
.header .nav-right #menu-icon {
  font-size: 35px;
  color: #76AA6F;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Hiển thị dropdown khi hover vào mục SHOP */
.shop-dropdown:hover .dropdown-content {
  display: block;
}

/* Định dạng các mục trong dropdown */
.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

/* Định dạng khi hover vào các mục trong dropdown */
.dropdown-content a:hover {
  background-color: #f2f2f2;
}

.banner {
  position: relative;
}
.banner img {
  width: 100%;
  height: 490px;
}

.content-sub,
.content-sub-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Để đảm bảo chúng hiển thị trên hình ảnh */
  text-align: center; /* Căn giữa nội dung */
  color: #fff; /* Màu chữ */
}

.content-sub h5 {
  font-size: 60px;
  font-family: poppins-b;
}

.content-sub-2 {
  width: 101%;
  margin-top: 221px;
  height: 50px;
  background-color: #F9FAF9;
}
.content-sub-2 p {
  color: #777777;
  line-height: 50px;
  font-family: poppins-b;
  font-size: 16px;
}
.content-sub-2 p i {
  margin: 0 20px;
}
.content-sub-2 span {
  font-family: poppins-black;
}

.blog-list {
  margin-top: 100px;
}
.blog-list .blog-list-content a {
  text-decoration: none;
}
.blog-list .blog-list-content .sub-banner-button {
  margin-top: 15px;
}
.blog-list .blog-list-content .sub-banner-button button {
  color: #000;
  font-size: 13px;
  background-color: #E9DA5D;
  border: none;
  border-radius: 6px;
  padding: 14px 18px;
  text-transform: capitalize;
  margin-top: 15px;
  font-family: poppins-b;
}
.blog-list .blog-list-content .sub-banner-button button:hover {
  background-color: #56B533;
  color: #fff;
}
.blog-list .blog-list-content p {
  text-transform: uppercase;
  font-family: poppins-m;
  font-size: 14px;
  letter-spacing: 5px;
}
.blog-list .blog-list-content span {
  letter-spacing: 0px;
  text-transform: none;
  color: #777777;
  letter-spacing: 2px;
}
.blog-list .blog-list-content h5 {
  font-size: 36px;
  font-family: poppins-m;
  color: #151515;
}
.blog-list .blog-list-content img {
  width: 855px;
  height: 568px;
}
.blog-list .blog-list-content h4 {
  margin-top: 30px;
  color: #777777;
  font-family: lato-r;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 1px;
}
.blog-list .blog-list-content h3 {
  margin-top: 50px;
  text-align: center;
  font-family: poppins-r;
  font-size: 20px;
  color: #000;
  letter-spacing: 10px;
}
.blog-list .blog-list-content i {
  margin-top: 20px;
  color: #76AA6F;
  font-size: 30px;
}
.blog-list .blog-list-content h2 {
  padding: 0 30px;
  font-family: poppins-r;
  font-size: 24px;
  color: #151515;
}
.blog-list .blog-list-content .line-4 {
  background-color: #c2bcbc;
  width: 100%;
  height: 1px;
  margin-top: 40px;
}
.blog-list .blog-list-content .title-line4 a {
  text-decoration: none;
}
.blog-list .blog-list-content .title-line4 p {
  color: #777777;
  font-family: poppins-sb;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 20px;
  text-transform: none;
}
.blog-list .blog-list-content .title-line4 i {
  color: #000;
  padding: 0 10px;
  font-size: 20px;
  float: right;
}
.blog-list .blog-list-content .title-blog-4 h4 {
  color: #000;
  font-family: poppins-sb;
  font-size: 20px;
  letter-spacing: 1px;
}
.blog-list .blog-list-content .blogs-w-2 {
  margin-top: 20px;
}
.blog-list .blog-list-content .blogs-w-2 .blog-post-2 {
  border: solid 1px #E6E6E6;
}
.blog-list .blog-list-content .blogs-w-2 .blog-post-2 .blog-post-content {
  padding: 20px;
}
.blog-list .blog-list-content .blogs-w-2 .blog-post-2 .blog-post-content h4 {
  font-family: poppins-r;
  font-size: 20px;
  color: #000;
}
.blog-list .blog-list-content .blogs-w-2 .blog-post-2 .blog-post-content p {
  color: #777777;
  font-family: lato-r;
  font-size: 18px;
  text-transform: none;
  letter-spacing: 1px;
  padding: 10px 0;
}
.blog-list .blog-list-content .blogs-w-2 .blog-post-2 img {
  width: 415px;
  height: 368px;
}
.blog-list .blog-list-content .title-comment {
  margin-top: 20px;
}
.blog-list .blog-list-content .title-comment img {
  width: 100%;
  height: 100%;
}
.blog-list .blog-list-content .title-comment p {
  color: #777777;
  font-size: 15px;
  font-family: lato-r;
  text-transform: none;
  letter-spacing: 1px;
}
.blog-list .blog-list-content .title-comment .line-s {
  color: #8E8E8E;
  padding: 0 30px;
}
.blog-list .blog-list-content .title-comment .nam {
  float: right;
  color: #777777;
  font-size: 15px;
  font-family: lato-r;
}
.blog-list .blog-list-content .title-comment h5 {
  font-size: 18px;
  font-family: poppins-sb;
  color: #151515;
}
.blog-list .blog-list-content .title-comment .reply {
  color: #76AA6F;
  font-size: 12px;
  font-family: lato-b;
}
.blog-list .blog-list-content .title-comment .ma-10 {
  margin-top: 60px;
}
.blog-list .blog-list-content .title-comment .comment {
  width: 100%;
  height: 200px;
  padding: 10px;
  background-color: #d0e2bc;
}
.blog-list .line {
  height: 1500px;
  background-color: #d9d9d9;
  width: 1px;
  align-items: center;
  margin-left: 70px;
}

.blog-post {
  border: solid 1px #E6E6E6;
  align-items: center;
  text-align: center;
}
.blog-post img {
  margin-top: 20px;
  border-radius: 100px;
  text-align: center;
  align-items: center;
}
.blog-post .blog-post-content {
  padding: 30px;
}
.blog-post .blog-post-content p {
  font-size: 15px;
  font-family: lato-r;
  color: #777777;
}
.blog-post .blog-post-content p i {
  padding: 20px 5px 20px 0px;
  color: #FF8400;
}
.blog-post .blog-post-content p .icon-2 {
  margin-left: 40px;
}
.blog-post .blog-post-content h4 {
  font-size: 16px;
  font-family: poppins-sb;
  color: #151515;
}
.blog-post .blog-post-content p {
  color: #777777;
  font-family: lato-r;
  margin: 20px 0;
}
.blog-post .blog-post-content p .b-p {
  font-size: 18px;
  line-height: 26px;
}
.blog-post .blog-post-content .pr-btnn {
  padding: 0;
}
.blog-post .blog-post-content .pr-btnn button {
  color: #fff;
  font-size: 16px;
  background-color: #000;
  border: none;
  border-radius: 19px;
  padding: 6px 16px;
  text-transform: capitalize;
  font-family: poppins-r;
}
.blog-post .blog-post-content .pr-btnn button:hover {
  background-color: #76AA6F;
  color: #fff;
}

.search-container {
  position: relative;
  display: inline-block;
  margin-top: 50px;
  width: 100%;
}
.search-container input[type=text] {
  padding: 8px 30px 8px 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  background-color: #F9FAF9;
}
.search-container button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 10px;
  border: none;
  background-color: #F9FAF9;
  color: #8E8E8E;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.search-container button i {
  font-size: 18px;
}

.title-blog-3 a {
  text-decoration: none;
}
.title-blog-3 .tit-space p {
  font-size: 12px;
  font-family: poppins-sb;
  color: #777777;
}
.title-blog-3 .img-title img {
  margin-top: 20px;
  width: 100%;
}
.title-blog-3 .img-title p {
  color: #151515;
  font-family: lato-r;
  font-size: 16px;
}
.title-blog-3 .img-title span {
  color: #76AA6F;
}
.title-blog-3 h4 {
  color: #000;
  margin-top: 50px;
  font-family: poppins-sb;
  font-size: 20px;
  letter-spacing: 3px;
}
.title-blog-3 .line-3 {
  height: 1px;
  width: 100%;
  background-color: #c2bcbc;
  margin-top: 20px;
}
.title-blog-3 p {
  margin-top: 20px;
  color: #000;
  font-family: lato-r;
  font-size: 16px;
}
.title-blog-3 p i {
  color: #fbf363;
  padding-right: 20px;
}
.title-blog-3 p span {
  float: right;
  color: #6E6E6E;
  font-family: lato-r;
  font-size: 16px;
}

.bg-2 {
  margin-top: 50px;
  background-color: #76AA6F;
  height: 120px;
}
.bg-2 .ft-serch .ft-serch-img {
  padding: 15px 0;
}
.bg-2 .ft-serch .ft-serch-content {
  padding: 34px 0;
}
.bg-2 .ft-serch .ft-serch-content h2 {
  font-size: 32px;
  font-weight: 700;
  font-family: poppins-b;
  font-style: normal;
  color: #fff;
  text-transform: capitalize;
}
.bg-2 .ft-serch .ft-serch-content p {
  font-size: 16px;
  font-weight: 400;
  font-family: poppins-r;
  font-style: normal;
  color: #fff;
}
.bg-2 .ft-serch .ft-serch-email input {
  width: 100%;
  margin: 35px 0;
  border: none;
  border-radius: 25px;
  height: 50px;
  text-transform: capitalize;
  outline: none;
  padding: 0 40px;
}
.bg-2 .ft-serch .ft-serch-email button {
  width: 94px;
  height: 38px;
  border-radius: 19px;
  background-color: #56B533;
  text-transform: capitalize;
  color: #fff;
}
.bg-2 .ft-serch .btn-relative {
  position: relative;
}
.bg-2 .ft-serch .btn-relative .btn-ab {
  position: absolute;
  z-index: 1;
  top: 40px;
  right: 25px;
  border: none;
}
.bg-2 .ft-serch .btn-relative .btn-ab:hover {
  background-color: #000;
}

.footer-bg {
  background-color: #fff;
}
.footer-bg .footer {
  margin-top: 50px;
}
.footer-bg .footer .contact-2 {
  margin-top: 50px;
}
.footer-bg .footer .contact-2 .contact-info-1 i {
  color: #76AA6F;
}
.footer-bg .footer .contact-2 .footer-title {
  color: #000;
  font-size: 24px;
  font-family: poppins-sb;
}
.footer-bg .footer .contact-2 .footer-title-2 {
  margin-top: 53px;
}
.footer-bg .footer .contact .content-footer-3 {
  margin-top: 50px;
  margin-bottom: 40px;
}
.footer-bg .footer .contact .content-footer-3 p {
  color: #000;
  font-family: lato-r;
  font-size: 15px;
  margin: 0;
}
.footer-bg .footer .contact .content-footer-3 span {
  color: #000;
  padding: 0 40px;
  margin-left: 40px;
}
.footer-bg .footer .contact .content-footer-3 span i {
  padding: 5px;
}
.footer-bg .footer .contact .content-footer {
  margin-top: 50px;
}
.footer-bg .footer .contact .content-footer .line-footer {
  height: 1px;
  width: 70%;
  background-color: #D9D9D9;
}
.footer-bg .footer .contact .content-footer p {
  color: #000;
  font-family: lato-r;
  font-size: 15px;
  margin: 0;
}
.footer-bg .footer .contact .content-footer span {
  color: #777777;
  padding: 0 40px;
}

@media screen and (max-width: 1199px) {
  .header .nav-center {
    display: none;
  }
  .header .nav-right {
    display: none;
  }
  .banner {
    position: relative;
  }
  .banner img {
    width: 100%;
    height: 350px;
  }
  .banner .content-sub-2 {
    position: absolute;
    top: 105px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Để đảm bảo chúng hiển thị trên hình ảnh */
    text-align: center; /* Căn giữa nội dung */
    color: #fff; /* Màu chữ */
  }
  .banner .content-sub {
    position: absolute;
    z-index: 1;
    top: 170px;
    left: 500px;
    text-align: center;
    text-transform: capitalize;
  }
  .banner .content-sub p {
    font-family: kalam-b;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  .banner .content-sub h5 {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
  }
  .banner .content-sub span {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
  }
  .banner .content-sub .sub-banner-button button {
    color: #000;
    font-size: 13px;
    background-color: #E9DA5D;
    border: none;
    border-radius: 6px;
    padding: 14px 18px;
    text-transform: capitalize;
    font-family: poppins-b;
  }
  .banner .content-sub .sub-banner-button button:hover {
    background-color: #56B533;
    color: #fff;
  }
  .blog-list {
    margin-top: 50px;
  }
  .blog-list .blog-list-content .sub-banner-button {
    margin-top: 15px;
  }
  .blog-list .blog-list-content .sub-banner-button button {
    color: #000;
    font-size: 13px;
    background-color: #E9DA5D;
    border: none;
    border-radius: 6px;
    padding: 14px 18px;
    text-transform: capitalize;
    margin-top: 15px;
    font-family: poppins-b;
  }
  .blog-list .blog-list-content .sub-banner-button button:hover {
    background-color: #56B533;
    color: #fff;
  }
  .blog-list .blog-list-content p {
    text-transform: uppercase;
    font-family: poppins-m;
    font-size: 14px;
    letter-spacing: 5px;
  }
  .blog-list .blog-list-content span {
    letter-spacing: 0px;
    text-transform: none;
    color: #777777;
    letter-spacing: 2px;
  }
  .blog-list .blog-list-content h5 {
    font-size: 36px;
    font-family: poppins-m;
    color: #151515;
  }
  .blog-list .blog-list-content img {
    width: 655px;
    height: 368px;
  }
  .blog-list .blog-list-content h4 {
    margin-top: 30px;
    color: #777777;
    font-family: lato-r;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
  }
  .blog-list .blog-list-content h3 {
    margin-top: 50px;
    text-align: center;
    font-family: poppins-r;
    font-size: 20px;
    color: #000;
    letter-spacing: 10px;
  }
  .blog-list .blog-list-content i {
    margin-top: 20px;
    color: #76AA6F;
    font-size: 30px;
  }
  .blog-list .blog-list-content h2 {
    padding: 0 30px;
    font-family: poppins-r;
    font-size: 24px;
    color: #151515;
  }
  .blog-list .blog-list-content .line-4 {
    background-color: #c2bcbc;
    width: 100%;
    height: 1px;
    margin-top: 40px;
  }
  .blog-list .blog-list-content .title-line4 a {
    text-decoration: none;
  }
  .blog-list .blog-list-content .title-line4 p {
    color: #777777;
    font-family: poppins-sb;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 20px;
    text-transform: none;
  }
  .blog-list .blog-list-content .title-line4 i {
    color: #000;
    padding: 0 10px;
    font-size: 20px;
    float: right;
  }
  .blog-list .blog-list-content .title-blog-4 h4 {
    color: #000;
    font-family: poppins-sb;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .blog-list .blog-list-content .blogs-w-2 {
    margin-top: 20px;
  }
  .blog-list .blog-list-content .blogs-w-2 .blog-post-2 {
    border: solid 1px #E6E6E6;
  }
  .blog-list .blog-list-content .blogs-w-2 .blog-post-2 .blog-post-content {
    padding: 20px;
  }
  .blog-list .blog-list-content .blogs-w-2 .blog-post-2 .blog-post-content h4 {
    font-family: poppins-r;
    font-size: 20px;
    color: #000;
  }
  .blog-list .blog-list-content .blogs-w-2 .blog-post-2 .blog-post-content p {
    color: #777777;
    font-family: lato-r;
    font-size: 18px;
    text-transform: none;
    letter-spacing: 1px;
    padding: 10px 0;
  }
  .blog-list .blog-list-content .blogs-w-2 .blog-post-2 img {
    width: 100%;
    height: 100%;
  }
  .blog-list .blog-list-content .title-comment {
    margin-top: 20px;
  }
  .blog-list .blog-list-content .title-comment img {
    width: 80px;
    height: 90px;
  }
  .blog-list .blog-list-content .title-comment p {
    color: #777777;
    font-size: 15px;
    font-family: lato-r;
    text-transform: none;
    letter-spacing: 1px;
  }
  .blog-list .blog-list-content .title-comment .line-s {
    color: #8E8E8E;
    padding: 0 30px;
  }
  .blog-list .blog-list-content .title-comment .nam {
    float: right;
    color: #777777;
    font-size: 15px;
    font-family: lato-r;
  }
  .blog-list .blog-list-content .title-comment h5 {
    font-size: 18px;
    font-family: poppins-sb;
    color: #151515;
  }
  .blog-list .blog-list-content .title-comment .reply {
    color: #76AA6F;
    font-size: 12px;
    font-family: lato-b;
  }
  .blog-list .blog-list-content .title-comment .ma-10 {
    margin-top: 60px;
  }
  .blog-list .blog-list-content .title-comment .comment {
    width: 100%;
    height: 200px;
    padding: 10px;
    background-color: #d0e2bc;
  }
  .blog-list .line {
    height: 1500px;
    background-color: #d9d9d9;
    width: 1px;
    align-items: center;
    margin-left: 70px;
  }
  .bg-2 {
    margin-top: 50px;
    background-color: #76AA6F;
    height: 120px;
  }
  .bg-2 .ft-serch .ft-serch-img {
    padding: 15px 0;
  }
  .bg-2 .ft-serch .ft-serch-content {
    padding: 34px 20px;
  }
  .bg-2 .ft-serch .ft-serch-content h2 {
    font-size: 32px;
    font-weight: 700;
    font-family: poppins-b;
    font-style: normal;
    color: #fff;
    text-transform: capitalize;
  }
  .bg-2 .ft-serch .ft-serch-content p {
    font-size: 16px;
    font-weight: 400;
    font-family: poppins-r;
    font-style: normal;
    color: #fff;
  }
  .bg-2 .ft-serch .ft-serch-email input {
    width: 100%;
    margin: 35px 0;
    border: none;
    border-radius: 25px;
    height: 50px;
    text-transform: capitalize;
    outline: none;
    padding: 0 40px;
  }
  .bg-2 .ft-serch .ft-serch-email button {
    width: 94px;
    height: 38px;
    border-radius: 19px;
    background-color: #56B533;
    text-transform: capitalize;
    color: #fff;
  }
  .bg-2 .ft-serch .btn-relative {
    position: relative;
  }
  .bg-2 .ft-serch .btn-relative .btn-ab {
    position: absolute;
    z-index: 1;
    top: 40px;
    right: 25px;
    border: none;
  }
  .bg-2 .ft-serch .btn-relative .btn-ab:hover {
    background-color: #000;
  }
}
@media screen and (max-width: 991px) {
  .header .logo {
    width: 100%;
  }
  .header .nav-center {
    display: none;
  }
  .header .nav-right {
    display: none;
  }
  .blog-list {
    margin-top: 40px;
  }
  .blog-list .blog-list-content .sub-banner-button {
    margin-top: 15px;
  }
  .blog-list .blog-list-content .sub-banner-button button {
    color: #000;
    font-size: 13px;
    background-color: #E9DA5D;
    border: none;
    border-radius: 6px;
    padding: 14px 18px;
    text-transform: capitalize;
    margin-top: 15px;
    font-family: poppins-b;
  }
  .blog-list .blog-list-content .sub-banner-button button:hover {
    background-color: #56B533;
    color: #fff;
  }
  .blog-list .blog-list-content p {
    text-transform: uppercase;
    font-family: poppins-m;
    font-size: 14px;
    letter-spacing: 5px;
  }
  .blog-list .blog-list-content span {
    letter-spacing: 0px;
    text-transform: none;
    color: #777777;
    letter-spacing: 2px;
  }
  .blog-list .blog-list-content h5 {
    font-size: 36px;
    font-family: poppins-m;
    color: #151515;
  }
  .blog-list .blog-list-content img {
    width: 455px;
    height: 268px;
  }
  .blog-list .blog-list-content h4 {
    margin-top: 30px;
    color: #777777;
    font-family: lato-r;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
  }
  .blog-list .blog-list-content h3 {
    margin-top: 50px;
    text-align: center;
    font-family: poppins-r;
    font-size: 20px;
    color: #000;
    letter-spacing: 10px;
  }
  .blog-list .blog-list-content i {
    margin-top: 20px;
    color: #76AA6F;
    font-size: 30px;
  }
  .blog-list .blog-list-content h2 {
    padding: 0 30px;
    font-family: poppins-r;
    font-size: 24px;
    color: #151515;
  }
  .blog-list .blog-list-content .line-4 {
    background-color: #c2bcbc;
    width: 100%;
    height: 1px;
    margin-top: 40px;
  }
  .blog-list .blog-list-content .title-line4 a {
    text-decoration: none;
  }
  .blog-list .blog-list-content .title-line4 p {
    color: #777777;
    font-family: poppins-sb;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 20px;
    text-transform: none;
  }
  .blog-list .blog-list-content .title-line4 i {
    color: #000;
    padding: 0 5px;
    font-size: 20px;
    float: right;
  }
  .blog-list .blog-list-content .title-blog-4 h4 {
    color: #000;
    font-family: poppins-sb;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .blog-list .blog-list-content .blogs-w-2 {
    margin-top: 20px;
  }
  .blog-list .blog-list-content .blogs-w-2 .blog-post-2 {
    border: solid 1px #E6E6E6;
  }
  .blog-list .blog-list-content .blogs-w-2 .blog-post-2 .blog-post-content {
    padding: 20px;
  }
  .blog-list .blog-list-content .blogs-w-2 .blog-post-2 .blog-post-content h4 {
    font-family: poppins-r;
    font-size: 20px;
    color: #000;
  }
  .blog-list .blog-list-content .blogs-w-2 .blog-post-2 .blog-post-content p {
    color: #777777;
    font-family: lato-r;
    font-size: 18px;
    text-transform: none;
    letter-spacing: 1px;
    padding: 10px 0;
  }
  .blog-list .blog-list-content .blogs-w-2 .blog-post-2 img {
    width: 100%;
    height: 100%;
  }
  .blog-list .blog-list-content .title-comment {
    margin-top: 20px;
  }
  .blog-list .blog-list-content .title-comment img {
    width: 60px;
    height: 60px;
  }
  .blog-list .blog-list-content .title-comment p {
    color: #777777;
    font-size: 15px;
    font-family: lato-r;
    text-transform: none;
    letter-spacing: 1px;
  }
  .blog-list .blog-list-content .title-comment .line-s {
    color: #8E8E8E;
    padding: 0 30px;
  }
  .blog-list .blog-list-content .title-comment .nam {
    float: right;
    color: #777777;
    font-size: 15px;
    font-family: lato-r;
  }
  .blog-list .blog-list-content .title-comment h5 {
    font-size: 18px;
    font-family: poppins-sb;
    color: #151515;
  }
  .blog-list .blog-list-content .title-comment .reply {
    color: #76AA6F;
    font-size: 12px;
    font-family: lato-b;
  }
  .blog-list .blog-list-content .title-comment .ma-10 {
    margin-top: 60px;
  }
  .blog-list .blog-list-content .title-comment .comment {
    width: 100%;
    height: 200px;
    padding: 10px;
    background-color: #d0e2bc;
  }
  .blog-list .line {
    height: 1750px;
    background-color: #d9d9d9;
    width: 1px;
    align-items: center;
    margin-left: 30px;
  }
  .content-sub-2 {
    width: 101%;
    margin-top: 170px;
    height: 50px;
    background-color: #F9FAF9;
  }
  .content-sub-2 p {
    color: #777777;
    line-height: 50px;
    font-family: poppins-b;
    font-size: 16px;
  }
  .content-sub-2 p i {
    margin: 0 20px;
  }
  .content-sub-2 span {
    font-family: poppins-black;
  }
  .banner {
    position: relative;
    margin-bottom: 30px;
  }
  .banner img {
    width: 100%;
    height: 100%;
  }
  .banner .content-sub {
    position: absolute;
    z-index: 1;
    top: 120px;
    left: 360px;
    text-align: left;
    text-transform: capitalize;
  }
  .banner .content-sub p {
    font-family: kalam-b;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  .banner .content-sub h5 {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
  }
  .banner .content-sub span {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
  }
  .banner .content-sub .sub-banner-button button {
    color: #000;
    font-size: 13px;
    background-color: #E9DA5D;
    border: none;
    border-radius: 6px;
    padding: 14px 18px;
    text-transform: capitalize;
    font-family: poppins-b;
  }
  .banner .content-sub .sub-banner-button button:hover {
    background-color: #56B533;
    color: #fff;
  }
  .bg-2 {
    margin-top: 50px;
    background-color: #76AA6F;
    height: 120px;
  }
  .bg-2 .ft-serch .ft-serch-img {
    padding: 15px 0;
  }
  .bg-2 .ft-serch .ft-serch-content {
    padding: 34px 0;
  }
  .bg-2 .ft-serch .ft-serch-content h2 {
    font-size: 32px;
    font-weight: 700;
    font-family: poppins-b;
    font-style: normal;
    color: #fff;
    text-transform: capitalize;
    margin-left: 50px;
    margin-top: -16px;
  }
  .bg-2 .ft-serch .ft-serch-content p {
    display: none;
    font-size: 16px;
    font-weight: 400;
    font-family: poppins-r;
    font-style: normal;
    color: #fff;
  }
  .bg-2 .ft-serch .ft-serch-email input {
    width: 100%;
    margin: 35px 0;
    border: none;
    border-radius: 25px;
    height: 50px;
    text-transform: capitalize;
    outline: none;
    padding: 0 40px;
  }
  .bg-2 .ft-serch .ft-serch-email button {
    width: 94px;
    height: 38px;
    border-radius: 19px;
    background-color: #56B533;
    text-transform: capitalize;
    color: #fff;
  }
  .bg-2 .ft-serch .btn-relative {
    position: relative;
  }
  .bg-2 .ft-serch .btn-relative .btn-ab {
    position: absolute;
    z-index: 1;
    top: 40px;
    right: 24px;
    border: none;
  }
  .bg-2 .ft-serch .btn-relative .btn-ab:hover {
    background-color: #000;
  }
}
@media screen and (max-width: 767px) {
  .header .logo {
    width: 50%;
  }
  .header .nav-center {
    display: none;
  }
  .header .nav-right {
    display: none;
  }
  .bg-2 {
    margin-top: 50px;
    background-color: #76AA6F;
    height: 120px;
  }
  .bg-2 .ft-serch .ft-serch-img {
    padding: 15px 0;
  }
  .bg-2 .ft-serch .ft-serch-img img {
    display: none;
  }
  .bg-2 .ft-serch .ft-serch-content {
    padding: 20px 0;
    display: none;
  }
  .bg-2 .ft-serch .ft-serch-content h2 {
    font-size: 26px;
    font-weight: 700;
    font-family: poppins-b;
    font-style: normal;
    color: #fff;
    text-transform: capitalize;
  }
  .bg-2 .ft-serch .ft-serch-content p {
    display: none;
  }
  .bg-2 .ft-serch .ft-serch-email input {
    width: 100%;
    margin: 5px 0;
    border: none;
    border-radius: 25px;
    height: 50px;
    text-transform: capitalize;
    outline: none;
    padding: 0 40px;
  }
  .bg-2 .ft-serch .ft-serch-email button {
    width: 94px;
    height: 38px;
    border-radius: 19px;
    background-color: #56B533;
    text-transform: capitalize;
    color: #fff;
  }
  .bg-2 .ft-serch .btn-relative {
    position: relative;
  }
  .bg-2 .ft-serch .btn-relative .btn-ab {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 30px;
    border: none;
  }
  .bg-2 .ft-serch .btn-relative .btn-ab:hover {
    background-color: #000;
  }
  .banner {
    position: relative;
  }
  .banner img {
    width: 100%;
    height: 100%;
  }
  .banner .content-sub-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Để đảm bảo chúng hiển thị trên hình ảnh */
    text-align: center; /* Căn giữa nội dung */
    color: #fff; /* Màu chữ */
    margin-top: 65px;
    height: 30px;
    background-color: #F9FAF9;
  }
  .banner .content-sub-2 p {
    color: #777777;
    line-height: 30px;
    font-family: poppins-b;
    font-size: 16px;
  }
  .banner .content-sub-2 p i {
    margin: 0 20px;
  }
  .banner .content-sub-2 span {
    font-family: poppins-black;
  }
  .banner .content-sub {
    position: absolute;
    z-index: 1;
    top: 65px;
    left: 175px;
    text-align: left;
    text-transform: capitalize;
  }
  .banner .content-sub p {
    font-family: kalam-b;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  .banner .content-sub h5 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
    text-align: center;
  }
  .banner .content-sub span {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
  }
  .banner .content-sub .sub-banner-button button {
    color: #000;
    font-size: 13px;
    background-color: #E9DA5D;
    border: none;
    border-radius: 6px;
    padding: 14px 18px;
    text-transform: capitalize;
    font-family: poppins-b;
  }
  .banner .content-sub .sub-banner-button button:hover {
    background-color: #56B533;
    color: #fff;
  }
  .blog-list {
    margin-top: 1px;
  }
  .blog-list .blog-list-content .sub-banner-button button {
    color: #000;
    font-size: 13px;
    background-color: #E9DA5D;
    border: none;
    border-radius: 6px;
    padding: 14px 18px;
    text-transform: capitalize;
    margin-top: 15px;
    font-family: poppins-b;
  }
  .blog-list .blog-list-content .sub-banner-button button:hover {
    background-color: #56B533;
    color: #fff;
  }
  .blog-list .blog-list-content p {
    text-transform: uppercase;
    font-family: poppins-m;
    font-size: 14px;
    letter-spacing: 5px;
  }
  .blog-list .blog-list-content span {
    letter-spacing: 0px;
    text-transform: none;
    color: #777777;
    letter-spacing: 2px;
  }
  .blog-list .blog-list-content h5 {
    font-size: 36px;
    font-family: poppins-m;
    color: #151515;
  }
  .blog-list .blog-list-content img {
    width: 100%;
    height: 100%;
  }
  .blog-list .blog-list-content h4 {
    margin-top: 30px;
    color: #777777;
    font-family: lato-r;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
  }
  .blog-list .blog-list-content h3 {
    margin-top: 50px;
    text-align: center;
    font-family: poppins-r;
    font-size: 20px;
    color: #000;
    letter-spacing: 10px;
  }
  .blog-list .blog-list-content i {
    margin-top: 20px;
    color: #76AA6F;
    font-size: 30px;
  }
  .blog-list .blog-list-content h2 {
    padding: 0 30px;
    font-family: poppins-r;
    font-size: 24px;
    color: #151515;
  }
  .blog-list .blog-list-content .line-4 {
    background-color: #c2bcbc;
    width: 100%;
    height: 1px;
    margin-top: 40px;
  }
  .blog-list .blog-list-content .title-line4 a {
    text-decoration: none;
  }
  .blog-list .blog-list-content .title-line4 p {
    color: #777777;
    font-family: poppins-sb;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 20px;
    text-transform: none;
  }
  .blog-list .blog-list-content .title-line4 i {
    color: #000;
    padding: 0 10px;
    font-size: 20px;
    float: right;
  }
  .blog-list .blog-list-content .title-blog-4 h4 {
    color: #000;
    font-family: poppins-sb;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .blog-list .blog-list-content .blogs-w-2 {
    margin-top: 20px;
  }
  .blog-list .blog-list-content .blogs-w-2 .blog-post-2 {
    margin: 10px 0;
    border: solid 1px #E6E6E6;
  }
  .blog-list .blog-list-content .blogs-w-2 .blog-post-2 .blog-post-content {
    padding: 20px;
  }
  .blog-list .blog-list-content .blogs-w-2 .blog-post-2 .blog-post-content h4 {
    font-family: poppins-r;
    font-size: 20px;
    color: #000;
  }
  .blog-list .blog-list-content .blogs-w-2 .blog-post-2 .blog-post-content p {
    color: #777777;
    font-family: lato-r;
    font-size: 18px;
    text-transform: none;
    letter-spacing: 1px;
    padding: 10px 0;
  }
  .blog-list .blog-list-content .blogs-w-2 .blog-post-2 img {
    width: 100%;
    height: 100%;
  }
  .blog-list .blog-list-content .title-comment {
    margin-top: 20px;
  }
  .blog-list .blog-list-content .title-comment img {
    width: 50px;
    height: 50px;
  }
  .blog-list .blog-list-content .title-comment p {
    color: #777777;
    font-size: 15px;
    font-family: lato-r;
    text-transform: none;
    letter-spacing: 1px;
    margin-top: 20px;
  }
  .blog-list .blog-list-content .title-comment .line-s {
    color: #8E8E8E;
    padding: 0 30px;
  }
  .blog-list .blog-list-content .title-comment .nam {
    float: right;
    color: #777777;
    font-size: 15px;
    font-family: lato-r;
  }
  .blog-list .blog-list-content .title-comment h5 {
    font-size: 18px;
    font-family: poppins-sb;
    color: #151515;
  }
  .blog-list .blog-list-content .title-comment .reply {
    color: #76AA6F;
    font-size: 12px;
    font-family: lato-b;
    float: right;
  }
  .blog-list .blog-list-content .title-comment .ma-10 {
    margin-top: 10px;
  }
  .blog-list .blog-list-content .title-comment .comment {
    width: 100%;
    height: 200px;
    padding: 10px;
    background-color: #d0e2bc;
  }
  .blog-list .line {
    display: none;
  }
}/*# sourceMappingURL=blog_post.css.map */